/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap'); /*"Fira Code" font*/


/*Global styling*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "Fira Code", monospace, sans-serif;
}


/*Animations*/

/*Animation that makes the website fade in when you enter it. Cool animation.*/
@keyframes fadein {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
.anim_fadein { animation: fadein ease 2s; }

/*Animation for buttons. Said element gets transparent when mouse is over it.*/
.anim_hoverfade { transition-duration: 0.5s; }
.anim_hoverfade:hover { opacity: 0.4; cursor: pointer; }


/*Main styling*/
#main_wrapper {}

/* Navigation */
nav {}

nav #logo_container {}
nav #logo_container img {}

nav ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;
}
nav ul li {}
nav ul li a {
	text-decoration: none;
}
