/*Fonts*/
@font-face {
	font-family: "FiraNerd";
	font-size: 2rem;
	src: url("../misc/font/firanerd.ttf");
}
.icon { font-size: 1.6rem; }

/*Global styling*/
html {
	background: #111015;
	scroll-behavior: smooth;
	/*transition-property: opacity;*/
	transition-duration: 2s;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "FiraNerd", monospace, sans-serif;
	color: #fefefe;
	font-size: 0.91rem;
}

code {
	background: #4d4b46;
	padding: 1px;
	border-radius: 4px;
	font-size: 0.8rem;
}

article {
	width: 100%;
}

a { color: #cc6666; text-decoration: none; }

h1 { font-size: 2.5rem; }

ul { list-style-type: none; }

section {
	display: flex;
	max-width: 700px;
	margin: auto;
	padding-top: 3.5rem; 
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 1.0;
	transition-property: opacity;
	transition-duration: 1s;
}

body {
	-ms-overflow-style: none; 
	scrollbar-width: none;
}
::-webkit-scrollbar { display: none; }

/*Animations*/

/*Animation that makes the website fade in when you enter it. Cool animation.*/
.anim_fadein { opacity: 1; }
.anim_fadeout { opacity: 0; }

/*Animation for buttons. Said element gets transparent when mouse is over it.*/
.button, .repocard, .anim_hoverfade, a { transition-duration: 0.5s; }
.button:hover, .repocard:hover, .anim_hoverfade:hover, a:hover { opacity: 0.4; cursor: pointer; }

/*Classes*/
.button { opacity: 1.0; color: #fefefe; }

.hidden { 
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.25s;
	margin-top: -100vh;
}

.cont_section { height: 100vh; }

.horizontal_list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style-type: none;
}
.horizontal_list li { margin: 0 0.4rem; }
.horizontal_list li a { text-decoration: none; }

.fab { font-size: 1.2rem; } /*Font Awesome icons*/

.container {
	top: 25%;
	transform: translateY(-25%);
	-ms-transform: translateY(-25%);
}

.container_center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* repo cards, see ../js/fetchrepo.js (unfinsihed)*/
.repocard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0.8rem;
	border: 1px solid #ccccccaa;
	margin: 1rem 0;
}

.repocard h1 { font-size: 1.6rem; }
.repocard p { font-size: 0.8rem; }

/*Main styling*/
#main_wrapper {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: repeat(100vh, 5); /* 5 */
	padding: 0 5vw;

	grid-template-areas:
		"ab"
		"pr"
		"ex"
		"co"
		"fs"
		"fo"
	;
}

/* Header & Navigation */
header {
	position: fixed;
	top: 0;
	display: flex;
	height: 2.5rem;
	width: 100vw;
	padding: 0 5vw;
	background: #111015ea;
	z-index: 1;
}

#burger {
	cursor: pointer;
	margin-left: auto;
	z-index: 2;
}

#logo_container { 
	padding: 0.2rem; 
	z-index: 2;
}

#logo_container img {
	width: auto;
	height: 1.8rem;
}

nav {
	display: flex;
	float: right;
	background: #111015;
	opacity: 1;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	transition-duration: 0.4s;
	transition-property: opacity;
	padding: 0.2rem;
	z-index: 1;
	align-items: center;
	justify-content: center;
}

nav ul {
	display: flex;
	flex-direction: column;
	list-style-type: none;
}

nav ul li { 
	text-align: center;
	margin: 1rem 0;
}

nav ul li a {
	font-size: 2.4rem;
	text-decoration: none;
}


footer {
	grid-area: fo;
	text-align: center;
}
footer h1 {
	font-size: 0.9rem;
	color: #fefefe;
}
footer p {
	color: #0f0f0f;
}


/* About */
#about { grid-area: ab; }

#art_links { margin-top: 2rem; }
#art_links li { margin: 0 1rem; }

/* Projects */
#projects { 
	grid-area: pr; 

}

#art_projinfo { 
	grid-area: pr_in; 
	margin-bottom: 2rem;
}

#art_projects {
	grid-area: pr_pr;
	margin-bottom: 2rem;
}
#art_projects h1 { font-size: 1.8rem; }

/* experience */
#experience {
	grid-area: ex;
	display: flex;
	align-items: center;
	justify-content: center;
}

#art_experience		{ grid-area: ex_ex; }
#art_progsysa		{ grid-area: ex_ps; }
#art_progsysa h2	{ margin: 2rem 0 0.5rem 1rem; } 


/* Contact */
#contact {
	grid-area: co;
}

#contact article { margin: 1rem 0; }

#contact ul li { margin: 0.7rem; }

/* FOSS */
#foss {
	grid-area: fs;
}

/*Media queries*/
@media only screen and (max-width: 398px) {
	#art_links ul li a { font-size: 0.8rem; }
	.icon { font-size: 1.2rem; }
}

@media only screen and (min-width: 600px) {
	header {
		justify-content: space-between;
	}

	nav {
		background: #0000;
		width: auto;
		height: 2.5rem;
		margin-left: auto;
		left: unset;
		top: unset;
		position: unset;
	}

	nav ul { 
		flex-direction: row; 
		right: 2rem;
	}
	nav ul li { margin: 0.4rem; }
	nav ul li a { font-size: 1.2rem; }

	#burger { display: none; }

	.hidden {
		opacity: 1;
		margin-top: 0;
	}
}

@media only screen and (min-width: 1100px) { * { font-size: 1.1rem; } }
