/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap'); /*"Fira Code" font*/


/*Global styling*/
html {
	background: #fefefe;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "Fira Code", monospace, sans-serif;
}

a { color: #cc6666; }

section { padding-top: 3.5rem; }

/*Animations*/

/*Animation that makes the website fade in when you enter it. Cool animation.*/
@keyframes fadein {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
.anim_fadein { animation: fadein ease 2s; }

/*Animation for buttons. Said element gets transparent when mouse is over it.*/
.button, .anim_hoverfade { transition-duration: 0.5s; }
.button:hover, .anim_hoverfade:hover { opacity: 0.4; cursor: pointer; }


/*Classes*/
.button { opacity: 1.0; color: #111015; }

.hidden { display: none; }

.cont_section { height: 100vh; }

.horizontal_list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style-type: none;
}
.horizontal_list li { margin: 0 0.4rem; }
.horizontal_list li a { text-decoration: none; }

/*Main styling*/
#main_wrapper {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: repeat(100vh, 2); /* 5 */
	padding: 0 5vw;

	grid-template-areas:
		"ab"
		"pr"
	;
}

/* Navigation */
nav {
	position: fixed;
	top: 0;
	display: flex;
	height: 2.5rem;
	width: 100vw;
	padding: 0 5vw;
}

nav ul {
	display: flex;
	flex-direction: column;
	list-style-type: none;
}
nav ul li a {
	text-decoration: none;
}

/* About */
#about {
	grid-area: ab;
	padding-top: 3.5rem;
}

#art_whoami h1 {
	font-size: 1.8rem;
}

#projects {
	grid-area: pr;
}

/* Projects */
/* Experiance */
/* FOSS */
/* Contact */

