/*Fonts*/
@font-face {
	font-family: "FiraNerd";
	font-size: 2rem;
	src: url("../misc/font/firanerd.ttf");
}

/*Global styling*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "FiraNerd", monospace, sans-serif;
	color: #111015;
	background: #fffdfa;
	font-size: 1rem;
}

html {
	scroll-behavior: smooth;
}

code {
	background: #f3f3f6;
	padding: 1px;
	border-radius: 4px;
	font-size: 0.8rem;
	word-wrap: break-word;
}

a {
	color: #25f;
	text-decoration: none; 
}

h1 { font-size: 1.2rem; }
h2 { margin-top: 32px; }

body {
	max-width: 1024px;
	margin: auto;
}

ul {
	margin-left: 2rem;
}

p {
	margin: 8px;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 5vh;
}

header ul {
	margin: auto;
	margin-bottom: 16px;
}

section {
	margin: 2rem;
	padding: 16px;
}

header hr {
	width: 70%;
}

footer {
	margin-bottom: 64px;
}

footer p {
	text-align: center;
}

footer ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

footer ul li {
	margin: 2px 1rem;
}

.nostylelist { list-style-type: none; }

.button {
	font-size: 1.2rem;
	color: #000;
	text-decoration: underline;
}

.button, a {
	transition-property: color;
	transition-duration: 0.5s;
}

.button:hover, a:hover {
	color: #cc6666;	
}

header .hor-list li {
	float: left;
	margin: 0 16px;
}

/*IDs*/

#about ul {
	width: 50%;
	margin: auto;
	margin-top: 32px;
}

#about ul li { text-align: center; }


@media (prefers-color-scheme: dark) {
	* {
		color: #fefefe;
		background: #111015;
	}

	code {
		background: #252525;
	}

	a {
		color: #acf;
	}


	.button {
		color: #fefefe;
	}
}
